.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0 !important;
}

/* .modal-header {
    border-bottom: none !important;
} */

.rounded-8 {
    border-radius: 8px !important;
}

.rounded-12 {
    border-radius: 12px !important;
}

.circle {
    border-radius: 50%;
}

.btn-bg {
    background: #e9e9e9;
}

.bg {
    background: #f6f6f6;
}

.bg-war {
    background: #FFF1F1;
}

.border-red {
    border: 2px solid red;
    color: red;
}

.approve {
    border: 2px solid transparent
}

/* Center the profile section */
.profile-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.cover-ic {
    width: 100%;
    /* max-width: 1440px; */
    height: 181px;
    border-radius: 12px;
    background: #7CB4C5;
}

.provider-profile {
    border-radius: 12px;
    padding: 20px;
    top: 70px;
    text-align: center;
}

.profile-circle {
    border-radius: 50%;
    border: 5px solid white;
    width: 140px;
    height: 140px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* Center the circle */
}

.profile-circle img {
    width: 100%;
    border-radius: 50%;
}

.provider-name {
    margin-top: 10px;
}

.provider-name h3 {
    color: #000;
    font-size: 26px;
    font-weight: 600;
}

.provider-basic-info {
    margin-top: 106px;
}

.provider-basic-info .b-name img {
    width: 20px;
    height: 18.947px;
    flex-shrink: 0;
}

.provider-basic-info .b-name span {
    color: #535151;
    font-size: 15px;
    font-weight: 500;
}

.provider-basic-info .location {
    color: #008951;
    font-size: 15px;
    font-weight: 500;
}

.provider-basic-info .joined {
    color: #535151;
    font-size: 15px;
    font-weight: 500;
}

/* tabs */
.tab-box {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #D9D9D9;
    font-size: 18px;
    font-weight: 600;
    gap: 36px;
}

.tab-box .tab-btn {
    color: #535151;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
}

.tab-box .tab-btn.active {
    color: #008951;
    border-bottom: 3px solid #008951;
    font-weight: 600;
}

.tab-section{
    position: relative;
}

.areas .zip-list .remove {
    background: none;
    border: none;
}

.content-box .content h2 {
    margin-bottom: 10px;
}

.requested-category .list {
    width: 255px;
}

.accordion-item {
    margin-bottom: 16px;
    border: 2px solid #e9e9e9 !important;
    border-radius: 0px;
}
.accordion-button{
    font-weight: 500;
    color: black;
}

.general-info,
.business-info,
.requested-category {
    padding: 24px 20px;
}

.general-info .about,
.contact,
address,
h2 {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.general-info img {
    width: 28px;
    margin-right: 16px;
}

.business-info .img-icon img {
    width: 28px;
    margin-right: 16px;
}

.business-info .docs .front,
.business-info .docs .back {
    background: #D5E7E0;
    width: 420px;
    height: 300px;
    border: 2px solid #000;
    overflow: hidden;
}

.business-info .docs .front img,
.business-info .docs .back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* or object-fit: contain; depending on your preference */
}

.business-info .docs .front,
.business-info .docs .back,
.business-info .docs .header {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}


.general-info span {
    color: #535151;
    font-size: 16px;
    font-weight: 400;
}

.divider {
    height: 8px;
    width: 100%;
    background: #f6f6f6;
}

.ssn-header h2 {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.ssn-header h2 span {
    color: #535151;
    font-size: 16px;
    font-weight: 400;
}

.requested-category .list img {
    width: 46px;
    height: 46px;
}

.providr-status {
    position: relative;
}

#statusToggle {
    display: none;
}

.status-hamburger {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    transition: all .3s ease-in-out;
}

.status-card {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 16px 0px rgba(17, 17, 26, 0.05);
    width: 320px;
    border-radius: 8px;
    padding: 10px;
    z-index: 1;
    animation: slideInRight 0.5s ease-out;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#statusToggle:checked+.status-hamburger+#statusCard {
    display: block;
}

.status-card label {
    display: block;
    margin: 12px 0;
}

.status-msg {
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 16px;
}

.status-save-btn {
    border: none;
    color: black;
    padding: 8px 16px;
}

.why h4 {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

/* price css */

/* Center the profile section */
.content-box{
    padding: 24px 20px;
    background: white;
}
.img-card {
    height: 200px;
}

.img-card img {
    height: 200px;
    width: 200px;
    overflow: hidden;
    object-fit: cover;
}
.description-content {
    height: 162px;
}
.provider-price-table .custom-p-btn{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #f6f6f6;
    padding: 4px;
    border: none;
    color: #AAA6A6;
}
.provider-price-table .custom-p-btn i{
    font-size: 16px !important;
    margin-right: 0 !important;
}
.provider-price-table table tbody tr:first-of-type {
    background-color: #F2F2F2 !important;
}
table td, table th {
    border-bottom: 1.5px solid #E9E9E9 !important;
    color: var(--Black, #000);
    font-size: 14px;
    font-weight: 500;
}
.provider-price-table .total-minimum{
    border-top: 2px solid black;
}
h2 {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}